---
- name: install nsd.conf
  template:
    src: "nsd.conf.j2"
    dest: "/var/nsd/etc/nsd.conf"
    mode: 0640
    owner: root
    group: _nsd
  notify:
  - reload nsd
- name: ensure zone file directory exists
  file:
    path: /var/nsd/zones/data
    state: directory
    mode: 0755
    owner: root
    group: _nsd
- name: install zones
  copy:
    src: "dns_zones/{{ item['name'] }}"
    dest: "/var/nsd/zones/data/{{ item['name'] }}"
    mode: 0640
    owner: root
    group: _nsd
  with_items: "{{ ns_primary_zones }}"
  when: ns_type == "primary"
  notify:
  - reload nsd
- name: enable nsd
  service:
    name: nsd
    enabled: yes
    state: started
