# {{ ansible_managed }}

server:
	hide-version: yes
	verbosity: 1
	database: "" # disable database

remote-control:
	control-enable: yes
	control-interface: /var/run/nsd.sock

{% for key in ns_tsig_keys %}
key:
	name: "{{ key['name'] }}"
	algorithm: "{{ key['algorithm'] }}"
	secret: "{{ key['secret'] }}"
{% endfor %}

{% for zone in ns_primary_zones %}
zone:
	name: "{{ zone['name'] }}"
	zonefile: "data/{{ zone['name'] }}"
{% for secondary in zone['secondaries'] %}
	notify: {{ secondary['address'] }} {{ secondary['key'] }}
	provide-xfr: {{ secondary['address'] }} {{ secondary['key'] }}
{% endfor %}

{% endfor %}
